@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* Main Styling */
html, body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #ddd;
  background: #ccc;
  /* overflow: hidden; */
}
a {
  text-decoration: none;
  color: #ddd;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/*  HUD */
.hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 0 30px;
  height: 50px;
  /* position: sticky; */
  top: 0;
  z-index: 2;
 
}
.hud .menu {
  display: flex;
  justify-content: space-around;
}
.hud .menu a {
  padding: 5px 10px;
  margin: 0px 5px;
}
.hud .menu a:hover{
  border-bottom: 1px solid #ddd;
  opacity: 0.7;
  
}

/* Utility Classes */
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  max-width: 786px;
  margin: auto;
  padding: 2rem 2rem;
  overflow: hidden;
}
.btn {
  background: #333;
  padding: 10px 30px;
  border-radius: 5px;
  max-width: 150px;
  text-align: center;
}
.btn:hover {
  background: #111;
  color: rgb(241, 241, 241);
  padding: 10px 30px;
  border-radius: 5px;
}
/* Score */

.container li.stats {
  background: #333;
  padding: 10px;
  margin: 5px;
  max-width: 140px;
  font-weight: bold;
  border: 2px solid #777777;
  border-radius: 5px;
  text-align: center;
}
.container li.stats:hover {
  cursor:default;
}
.container li.hp {
  max-width: 100px;
}


.statistics a.reset {
  display: flex;
  justify-content: center;
  background: #111;
  padding: 10px;
  margin: 5px;
  max-width: 140px;
  font-weight: bold;
  border: 2px solid #777777;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
.statistics a.reset:hover{
  background: #690e0e;
  color: #fff;
}



/* Board */
.board {
  padding: 5px ;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-columns: 100px 100px 100px 100px;  
  grid-template-rows: 150px 150px 150px 150px;
  grid-gap: .20rem;
}
.board img {
  max-width: 100%;  
  border: 10px #5f5f5f thick;
  box-shadow: rgb(0, 0, 0, 0.8) 1px 1px;
  border-radius: 15px;
}
.board img:hover {
  opacity: 0.85;
  cursor:grab;
}
/* Try Again */
.tryagain {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(68, 24, 24);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.9;
  
}
.tryagain a {
  position: relative;
  align-items: center;
  background: #310101; 
  font-weight: bold;
  font-size: 20px;
}
.tryagain a:hover {
  position: relative;
  align-items: center;
  background: #ddd;
  color: #310101;
}




