@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* Main Styling */
html, body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #ddd;
  background: #ccc;
  /* overflow: hidden; */
}
a {
  text-decoration: none;
  color: #ddd;
}
ul {
  list-style: none;
}

/*  HUD */
.hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 0 30px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
 
}
.hud .menu {
  display: flex;
  justify-content: space-around;
}
.hud .menu a {
  padding: 5px 10px;
  margin: 0px 5px;
}
.hud .menu a:hover{
  border-bottom: 1px solid #ddd;
  opacity: 0.7;
  
}

/* Utility Classes */

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  max-width: 786px;
  margin: auto;
  padding: 2rem 2rem;
  overflow: hidden;
  
}
/* Score */
.container .score li {
  background: #333;
  padding: 10px;
  margin: 5px;
  max-width: 140px;
  font-weight: bold;
  border: 1px solid #ddd;
}

/* Board */
.board {
  padding: 5px ;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-columns: 100px 100px 100px 100px;  
  grid-template-rows: 150px 150px 150px 150px;
  grid-gap: .15rem;

  
}
.board img {
  max-width: 100%;  
  border: 1px #5f462c solid;
}
.board img:hover {
  opacity: 0.7;
}




